<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food & Drinks Shop</title>
</head>
<body>
          <nav class="navbar">
            <p class="logo">Food & Drinks Shop</p>
            <div class="nav-links">
              <a href="home.html">Home</a>
              <a href="orderHistory.html"> View Your orders</a>
              <a href="shipmentStatus.html"> Shipment status</a>
              <a href="vouchers.html"> My vouchers</a>
              <a href="todaysDeals.html">Today's Deals</a>
              <a href="addAproduct.html"> Add product</a>
              <a href="editProduct.html"> Edit product</a>
              <a  href="allUsers.html"> All users</a>

            </div>
            <div class="profile-cart">
              <a href="profile.html" class="profile-link">
                <img src="/images/user.png" alt="Profile" class="icon">
              </a>
              <a href="shoppingCart.html" class="cart-button">
                <img src="/images/cart.png" alt="Cart" class="icon">
              </a>
            </div>
          </nav>
</body>
</html>