<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food & Drinks Shop</title>
</head>
<body>

          <nav class="navbar" th:fragment="nav(user)">
            <p class="logo">Food & Drinks Shop</p>
            <div class="nav-links">
              <a th:href="@{/home}">Home</a>
              <a th:href="@{/orders/history}"> View Your orders</a>
              <a th:href="@{/shipment}"> Shipment status</a>
              <a th:href="@{/vouchers}"> My vouchers</a>
              <a th:href="@{/products/today-deals}">Today's Deals</a>

              <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/add}"> Add product</a>
              <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/edit}"> Edit product</a>
              <a sec:authorize="hasRole('ADMIN')" th:href="@{/user/all}"> All users</a>

            </div>
            <div class="profile-cart">
              <a th:href="@{'/user/'+${user.id}+'/profile'}"  class="profile-link">
              <img th:src="${#strings.isEmpty(user.profilePicture) ? '/images/user.png' : user.profilePicture}" alt="Profile" class="icon">
              </a>
              <a th:href="@{/notifications}" class="notification-button">
                <img src="/images/notification-bell.png" alt="Notifications" class="icon">
              </a>
              <a th:href="@{/shopping-cart}" class="cart-button">
                <img src="/images/cart.png" alt="Cart" class="icon">
              </a>
            </div>
          </nav>
</body>
</html>