.recommended-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in-out forwards;
}
.recommended-product:hover {
    transform: scale(1.1);
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.recommended-container h2 {
    color: #0277bd;
    margin-bottom: 15px;
}

.recommended-products {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.recommended-product {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    flex-grow: 0;
    max-width: 150px;
}
.product-name,
.product-price {
    font-size: 16px;
    color: #333;
}

.recommended-product img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.recommended-product p {
    margin-top: 5px;
    color: #333;
    font-size: 14px;
}
.recommended-product .btn {
    font-size: 16px;
}