<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users - Admin Panel</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/allUsers.css">
</head>
<body>

   <header th:replace="fragments/common::nav(user=${user})"></header>

    <div class="users-container">
        <h1>All Users</h1>

        <table class="users-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Change Role</th>
                    <th>Status</th>
                    <th>Change Status</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.username}">JohnDoe</td>
                    <td th:text="${#strings.isEmpty(user.email)? 'Edit profile to add email' :user.email}">john@example.com</td>
                    <td>
                        <span class="role admin" th:text="${user.role.name()}">ADMIN</span></td>
                    <td>
                        <form th:action="@{'/user/'+${user.id}+'/role'}" th:method="PUT">
                            <input type="hidden" name="userId" >
                            <button type="submit" class="btn">Change Role</button>
                        </form>
                    </td>
                    <td>
                        <span class="status active" th:if="${user.active}">ACTIVE</span>
                        <span class="status inactive" th:if="${!user.active}">INACTIVE</span>
                    </td>
                    <td>
                        <form th:action="@{'/user/'+${user.id}+'/status'}" th:method="PUT">
                            <input type="hidden" name="userId" >
                            <button type="submit" class="btn">Change Status</button>
                        </form>
                    </td>
                    <td th:text="${user.address}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
