<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Edit Product</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/editProduct.css">
</head>
<body>
        <header th:replace="fragments/common::nav(user=${user})"></header>

    <div class="admin-container">
        <h1>Edit Product</h1>
        
        <form class="search-form" th:method="GET" th:action="@{/products/edit/search}" th:object="${adminSearchRequest}">
            <input type="text" placeholder="Search for a product..." class="search-input" th:field="*{productName}">
            <button type="submit" class="search-btn">Search</button>
        </form>
        <div class="products-container" th:each="product : ${search}">
            <div class="product-box" >
                <img th:src="${product.photo}" alt="Product 1" class="product-image">
                <div class="product-info">
                    <h3 th:text="${product.name}">Product Name 1</h3>
                    <p th:text="${product.price}">Price: $15.99</p>
                    <p th:text="'Category: '+${product.category.name()}">Category: Electronics</p>
                    <form th:action="@{'/products/'+${product.id}+'/edit'}" method="GET">
                        <input type="hidden" name="productId" value="1"> 
                        <button type="submit" class="edit-btn">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
