<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product - Admin</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/editProductDetails.css">
</head>
<body>
    <header th:replace="fragments/common::nav(user=${user})"></header>

    <div class="edit-product-container">
        <h1>Edit Product</h1>

        <form class="edit-product-form" th:action="@{'/products/'+${product.id}+'/edit'}" th:method="PUT" th:object="${editProductDetails}">
            <div class="image-container">
                <img th:src="${product.photo}" alt="Product Image" class="product-image">
            </div>

            <label for="product-name">Product Name:</label>
            <input type="text" id="product-name" value="Product Name 1" th:field="*{productName}">

            <label for="product-price">Price ($):</label>
            <input type="number" id="product-price" value="15.99" step="0.01" th:field="*{price}">

            <label for="product-category">Category:</label>
            <select id="product-category" th:field="*{category}">
                <option th:each="category : ${T(app.products.model.Category).values()}" th:value="${category}" th:text="${category}" >Electronics</option>
            </select>

            <label for="product-quantity">Quantity:</label>
            <input type="number" id="product-quantity" value="50" th:field="*{quantity}">

            <label for="product-description">Description:</label>
            <textarea id="product-description" th:field="*{description}">This is a sample product description.</textarea>

            <!-- Availability Toggle -->
            <div class="toggle-container">
                <label class="switch">Available:</label>
                <input type="radio" id="available-yes" th:field="*{available}" value="true">
                <label for="available-yes">Yes</label>

                <input type="radio" id="available-no" th:field="*{available}" value="false">
                <label for="available-no">No</label>
            </div>
            <label for="profile-pic-url">Profile Picture URL:</label>
            <input type="text" id="profile-pic-url" placeholder="Paste profile picture URL" value="profile.jpg" th:field="*{image}">

            
            <button type="submit" class="save-btn">Save Changes</button>
        </form>
    </div>
</body>
</html>
