<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Food & Drinks Shop</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/recomendedProducts.css">
</head>
<body>
    <header th:replace="fragments/common::nav(user=${user})"></header>
    <h1>Shop Our Products</h1>

    <form th:action="@{/search}" th:method="GET" th:object="${searchRequest}">
        <div class="search-container">
            <label for="search-bar"></label>
            <input type="text" id="search-bar" placeholder="Search for products..." class="search-input" th:field="*{productName}" >
        <button type="submit" class="search-btn">
            <img src="/images/magnifier.png" alt="Search" class="search-icon">
        </button>        
     </div>
    </form>

    <div class="recommended-container" th:if="${!isSearching}">
        <h2>Recommended for You</h2>
        <br>
        <div class="recommended-products">
            <div class="recommended-product" th:each="product : ${recommendedProducts}">
                <img th:src="${product.photo}" alt="Coca Cola">
<!--                <p th:text="${product.name}+' - $'+${product.price}">Coca Cola - $2.99</p>-->
                <p>
                    <span class="product-name" th:text="${product.name}"></span> -
                    <span th:if="${!product.onDeal}" class="product-price" th:text="'$' + ${product.price}"></span>
                    <span th:if="${product.onDeal}" class="product-price"
                      th:text="'$'+${product.price.subtract(product.discountAmount)}"></span>

                </p>

                <a th:href="@{'/products/'+${product.id}+'/details'}" class="btn">View Details</a>
            </div>
        </div>
    </div>

    <!-- Main Content: Product Listing -->
    <div class="products-container" th:if="${!isSearching}">
        <div class="products">
            <!-- Product Item -->
            <div class="product" th:each="product : ${allProducts}">
                <img th:src="${product.photo}" alt="Product 1">
                <h3 th:text="${product.name}">Product 1</h3>
                <p th:text="'$' + ${product.price}">$19.99</p>
                <a th:href="@{'/products/'+${product.id}+'/details'}" class="btn">View Details</a>
            </div>
        </div>
    </div>

    <div class="products-container" th:if="${isSearching}">
        <div class="products">
            <!-- Product Item -->
            <div class="product" th:each="product : ${searchedProducts}">
                <img th:src="${product.photo}" alt="Product 1">
                <h3 th:text="${product.name}">Product 1</h3>
                <p th:text="'$' + ${product.price}">$19.99</p>
                <a th:href="@{'/products/'+${product.id}+'/details'}" class="btn">View Details</a>
            </div>
        </div>
    </div>

    
</body>
</html>
