<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food & Drinks Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container2">
        <h1>Welcome   to Our Food & Drinks Shop</h1>
        <p>Fresh food and refreshing drinks delivered to your doorstep.</p>
        <br>
        <div class="buttons">
            <a th:href="@{/login}" class="btn">Login</a>
            <a th:href="@{/register}" class="btn">Register</a>
        </div>
    </div>
</body>
</html>