<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Food & Drinks Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input placeholder="Username" type="text" id="username" name="username" class="wide-input" >
            
            <label for="password">Password</label>
            <input placeholder="Password" type="password" id="password" name="password" class="wide-input" >
            <p th:if="${error}" th:text="${error}" class="error-message"></p>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
        <p><a th:href="@{/}" class="btn">Back to Home</a></p>
    </div>
</body>
</html>