<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - Food & Drinks Shop</title>
    <link rel="stylesheet" href="/css/productDetails.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header th:replace="fragments/common::nav"></header>

    <div class="product-detail-container">
        <div class="product-detail">
            <img src="coke.pn" alt="Product Image" class="product-image">
            <div class="product-info">
                <h1>Product Name</h1>
                <p class="price">$25.99</p>
                <p class="description">This is a detailed description of the product.</p>
                <p class="category">Category: Drinks</p>
                <p class="quantity">Available Quantity: 100</p>
                <div id="successMessage" class="success-message">
                    Item added to cart successfully!
                </div>
                <form action="">
                    <input type="hidden" name="productId" value="1">
                    <button type="submit" class="btn">Add to Cart</button>
                </form>
                <!-- <a href="cart.html" class="btn"></a> -->
            </div>
        </div>
    </div>
    
</body>
</html>
