<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vouchers - Food & Drinks Shop</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/vouchers.css">
</head>
<body>
    <header th:replace="fragments/common::nav(user=${user})"></header>

    <div class="vouchers-container">
        <h2>My Vouchers</h2>
        <table th:if="${user.vouchers.size()>0}" >
            <thead>
                <tr>
                    <th>Voucher Code</th>
                    <th>Discount</th>
                    <th>Expiration Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="voucher-list">
                <tr th:each="voucher : ${user.vouchers}">
                    <td th:text="${voucher.code}"></td>
                    <td th:text="${voucher.discountAmount} + '%'"></td>
                    <td th:text="${#temporals.format(voucher.deadline, 'yyyy-MM-dd')}"></td>
                    <td th:text="${voucher.deadline.isAfter(#temporals.createNow()) ? 'Active' : 'Expired'}"></td>
                </tr>
            </tbody>
        </table>
        <p id="no-vouchers-message" th:if="${user.vouchers.isEmpty()}">You have no vouchers available at the moment.</p>
    </div>
</body>
</html>
